[MESSAGES CONTROL]
disable=too-few-public-methods,unbalanced-tuple-unpacking,no-member,too-many-ancestors,cyclic-import,protected-access,arguments-differ

[TYPECHECK]
# pylint cannot deal with classes created at run time.
# https://stackoverflow.com/a/42814971/5359105
ignored-classes=SQLAlchemy,scoped_session
