[MESSAGES CONTROL]
disable=global-statement,too-few-public-methods,too-many-return-statements,unbalanced-tuple-unpacking

[TYPECHECK]
# pylint cannot deal with classes created at run time.
# https://stackoverflow.com/a/42814971/5359105
ignored-classes=SQLAlchemy,scoped_session
